<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hall.name %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @hall.cinema.name %>
</p>

<% unless @hall.movie_sessions.empty? %>
  <h3 class="text-center">This Hall's Sessions!</h3>
  <table class="table table-striped table-hover">
    <tbody>
      <% @hall.movie_sessions.each do |movie_session| %>
        <tr>
          <td>
            <%= link_to movie_session.movie.title, 
              cinema_hall_movie_session_path(@cinema, @hall, movie_session) %>
          </td>          
          <td>
            <%= movie_session.date %>
          </td>
          <td>
            <%= link_to (fa_icon "pencil", text: 'Edit session'),
              edit_cinema_hall_movie_session_path(
              @cinema, @hall, movie_session) if can? :edit, movie_session %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="text-center">No sessions!</h3>
<% end %>
<%= link_to (fa_icon "plus", text: "Add new session"), 
  new_cinema_hall_movie_session_path(@cinema, @hall) if 
  can? :new, MovieSession %>

<br><br>
<%= link_to (fa_icon "pencil-square-o", text: 'Edit'), 
  edit_cinema_hall_path(@cinema, @hall) if can? :edit, @hall %><br>
<%= link_to (fa_icon "arrow-left", text: 'Back'), @cinema %>
