<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hall.name %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @hall.cinema.name %>
</p>

<%= link_to 'Edit', edit_cinema_hall_path(@cinema, @hall) %> |
<%= link_to 'Back', @cinema %>
