<%= simple_form_for [@cinema, @hall, movie_session] do |f| %>
  <%= f.error_notification %>
  <% if movie_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_session.errors.count, "error") %> prohibited this movie_session from being saved:</h2>

      <ul>
      <% movie_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.association :movie %>
    <%= f.input :seat_price, 
      label: "Seat price (#{movie_session.seat_price_currency})" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
