<p id="notice"><%= notice %></p>

<p>
  <strong>Dates:</strong>
  <%= @movie_session.dates %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @movie_session.movie.title %>
</p>

<% (1..@movie_session.hall.seats_quantity).each do |seat_number| %>
  <% if @movie_session.seats["#{seat_number}"] == "taken" %>
    <% seat_status_class = 'seat-taken' %>
  <% elsif @movie_session.seats["#{seat_number}"] == "reserved" %>
    <% seat_status_class = 'seat-reserved' %>
  <% else %>
    <% seat_status_class = 'seat-available' %>
  <% end %>
  <a href="?seat=<%= seat_number %>">
    <div class="seat <%= seat_status_class %>">
      <%= seat_number %>
    </div>
  </a>
<% end %>

<% if params[:seat] %>
  <div class="panel">
    <p><strong>seat: </strong><%= params[:seat] %></p>
    <p><strong>price: </strong><%= humanized_money_with_symbol @movie_session.seat_price %></p>
    <%= button_to "Buy!", cinema_hall_movie_session_buy_ticket_url(@cinema, @hall, @movie_session, :seat => params[:seat]), :method => :patch, :class => "btn btn-primary" %>
  </div>
<% end %>

<br><br>
<%= link_to 'Edit', edit_cinema_hall_movie_session_path(@cinema, @hall, @movie_session) %> |
<%= link_to 'Back', root_path %>
