<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.title %>
</p>

<p>
  <%= image_tag @movie.picture_url, class: 'movie-logo' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>


<%= link_to (fa_icon "pencil-square-o", text: 'Edit'), 
  edit_movie_path(@movie) if can? :edit, @movie %><br>
<%= link_to (fa_icon "arrow-left", text: 'Back'), movies_path %>
