<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless @movie_sessions.empty? %>
        <h3 class="text-center">Sessions!</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <% @movie_sessions.each do |session| %>
              <tr>
                <td>
                  <%= session.dates %>
                </td>
                <td>
                  <%= session.hall.cinema.name %>
                </td>
                <td>
                  <%= session.hall.name %>
                </td>
                <td>
                  <%= image_tag(session.movie.picture_url, class: "movie-logo") %>
                </td>
                <td>
                  <%= session.movie.title %>
                </td>
                <td>
                  <%= session.movie.description %>
                </td>              
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="text-center">No sessions!</h3>
      <% end %>
    </div>
  </div>
</div>