<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless @movie_sessions.empty? %>
        <h3 class="text-center">Sessions!</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <% @movie_sessions.each do |movie_session| %>
              <tr>
                <td>
                  <%= link_to movie_session.date.strftime("%A at %R %B %d, %Y"),
                    cinema_hall_movie_session_path(movie_session.hall.cinema,
                    movie_session.hall, movie_session) %>
                </td>
                <td>
                  <%= movie_session.hall.cinema.name %>
                </td>
                <td>
                  <%= movie_session.hall.name %>
                </td>
                <td>
                  <%= image_tag(movie_session.movie.picture_url, 
                    class: "movie-logo") %>
                </td>
                <td>
                  <%= movie_session.movie.title %>
                </td>
                <td style="max-width: 40em;">
                  <%= movie_session.movie.description %>
                </td>              
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="text-center">No sessions!</h3>
      <% end %>
    </div>
  </div>
</div>